---
import HeroSection from "../components/home/HeroSection.astro";
import TechMarquee from "../components/TechMarquee.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout description="Hello Site">
	<main>
		<HeroSection class="[@media(max-height:530px)]:mb-8" />
		<TechMarquee class="mb-8" />
	</main>
</Layout>
