---
import AboutSection from "../components/home/AboutSection.astro";
import ContactsSection from "../components/home/ContactsSection.astro";
import HeroSection from "../components/home/HeroSection.astro";
import TechSection from "../components/home/TechSection.astro";
import WaySection from "../components/home/WaySection.astro";
import TechMarquee from "../components/TechMarquee.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout description="Hello Site">
	<main class="space-y-10">
		<HeroSection class="[@media(min-height:530px)]:mb-0" />
		<TechMarquee />
		<AboutSection />
		<TechSection />
		<WaySection />
		<ContactsSection class="mb-10" />
	</main>
</Layout>
